html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", serif;
  background-color: #212428;
  color: #fff;
}
a,
a:hover {
  text-decoration: none;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

.card {
  border-radius: 0;
  border: none;
}

.card-body {
  padding: var(--bs-card-spacer-y) 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
section {
  padding: 80px 0;
}

@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}
a {
  color: #ffb329;
  text-decoration: none;
}
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.no-bottom {
  padding-bottom: 0;
}
.mb30 {
  margin-bottom: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.spacer-double {
  width: 100%;
  height: 60px;
  display: block;
  clear: both;
}
