html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", serif;
  background-color: #212428;
  color: #fff;
}
a,
a:hover {
  text-decoration: none;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  color: #999999;
}

.card {
  border-radius: 0;
  border: none;
}

.card-body {
  padding: var(--bs-card-spacer-y) 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
section {
  padding: 80px 0;
}

@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}
a {
  color: #ffb329;
  text-decoration: none;
}
a,
a:hover {
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.no-bottom {
  padding-bottom: 0;
}
.mb30 {
  margin-bottom: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.spacer-double {
  width: 100%;
  height: 60px;
  display: block;
  clear: both;
}

.jss68 {
  margin-top: 70px;
}
.jss189 {
  margin-top: 8px;
}
.jss190 {
  margin-top: 30px;
}
.jss196 ,.jss204  {
  display: flex;
  align-items: center;
}
.jss198 {
  margin-top: 30px;
}
.jss191 {
  padding: 0px 22px;
  min-width: 990px;
  border-spacing: 0px 4px;
  border-collapse: separate;
}
.jss191 {
  padding: 0px 22px;
  min-width: 990px;
  border-spacing: 0px 4px;
  border-collapse: separate;
}
.MuiTable-root {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}
.MuiTableHead-root {
  display: table-header-group;
}
.MuiTableRow-root {
  color: #fff;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}