header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1001;
  margin: 0;
  height: 90px;
  top: 0;
}

.scroll {
  box-shadow: 0 4px 20px 0 rgba(10, 10, 10, 0.8);
  background: rgba(33, 36, 40, 0.9);
  position: sticky;
}
.navbar-brand,
.footer-logo {
  max-width: 60px;
}
.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #a19795;
}
input.form-control.search {
  display: flex;
  width: 100%;
  border: none;
  padding-left: 40px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 0.875rem;
  background-color: #ffffff0d;
  border-radius: 9999px;
  height: 36px;
  outline: none;
  transition: all 0.2s ease;
  color: #a19795;
  margin: 0;
}
input.form-control:focus {
  border: 1px solid #8364e24d;
  box-shadow: 0px 0px 0px 2px #8364e24d;
  background: #212428;
  color: #a19795;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #ffb329;
  font-weight: 700;
}
.nav-link:focus,
.nav-link:hover,
.social-icon li a i:hover {
  color: #ffb329;
}
.nav-link {
  color: #fff;
}
li.nav-item {
  margin-right: 15px;
}
.wallet-btn {
  background-color: #0c0a09;
  color: #fff;
  padding: 8px 20px;
  border-radius: 9999px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 2px solid #292524;
  box-shadow: 1px 1px 3px 3px rgba(245, 200, 67, 0.22),
    /* #f5c84338 */ 0px 0px 3px 3px rgba(245, 200, 67, 0.25),
    /* #f5c84340 */ -1px -1px 3px 3px rgba(245, 200, 67, 0.22); /* #f5c84338 */
}
footer {
  color: #fff;
}
.footer-logo + p {
  color: #9ca3af;
}
.footer-title {
  font-size: 24px;
  margin-bottom: 15px;
}
.footer-items {
  transform: translateY(10px);
}
.social-icon li a i {
  color: #9ca3af;
  font-size: 20px;
}
#mainmenu li {
  margin: 0px 0px;
  padding: 0px 0px;
  display: inline;
  list-style: none;
  position: relative;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
}
#mainmenu a span {
  position: relative;
  width: 0%;
  color: #ffffff;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 14px;
  border-bottom: solid 2px #ffffff;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: none;
}
#mainmenu ul {
  margin: 0px 0px;
  padding: 0px;
  height: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
  background: #212428;
  -webkit-box-shadow: 0 4px 20px 0 rgba(10, 10, 10, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(10, 10, 10, 0.4);
  box-shadow: 0 4px 20px 0 rgba(10, 10, 10, 0.4);
}
#mainmenu li ul {
  width: 180px;
  height: auto;
  position: absolute;
  right: 0px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
}

#mainmenu li li {
  font-size: 14px;
  display: block;
  float: none;
  text-transform: none;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
}
#mainmenu a {
  position: relative;
  display: flex;
  /* padding: 30px 18px 30px 0; */
  text-decoration: none;
  color: #fff;
  text-align: center;
  outline: none;
  /* margin-right: 22px; */
  padding-right: 15px;
}
#mainmenu li li a {
  color: #ffffff;
  padding: 8px 15px;
  border-top: none;
  width: 100%;
  border-left: none;
  text-align: left;
  font-weight: normal;
  /* border-bottom: solid 1px rgba(255, 255, 255, .1); */
  display: flex;
  align-items: center;
}
#mainmenu li li a i {
  font-size: 16px;
  margin-right: 10px;
}
#mainmenu {
  font-weight: 600;
  font-size: 14px;
  float: none;
}
#mainmenu li:hover > ul {
  visibility: visible;
  opacity: 1;
  margin-top: 0px;
}
#mainmenu li li a:hover {
  background-color: #ffb329;
}
#mainmenu p {
  line-height: 1;
  font-size: 14px;
  opacity: 0.6;
  color: #999999;
}
#mainmenu .img-box {
  position: relative;
}
#mainmenu .img-box img {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}
#mainmenu .img-box::before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f078";
  color: rgba(255, 255, 255, 0.5);
  /* padding-left: 5px; */
  font-size: 11px;
  right: -22px;
  top: 50%;
  transition: all ease-in-out 0.3s;
  transform: translateY(-50%);
}
#mainmenu li:hover .img-box::before {
  transform: rotate(180deg) translateY(50%);
}
.nav-link {
  position: relative;
  width: fit-content;
}
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  border-bottom: solid 2px #ffb329;
  transition: all ease-in-out 0.3s;
}
.nav-item:hover .nav-link::before {
  width: 100%;
}
@media (min-width: 992px) {
  footer .row .col-lg-3:nth-child(2),
  footer .row .col-lg-3:nth-child(3),
  footer .row .col-lg-3:nth-child(4) {
    max-width: 170px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .row .col-lg-3:nth-child(1) {
    order: 1;
  }
  footer .row .col-lg-3:nth-child(2) {
    order: 3;
  }
  footer .row .col-lg-3:nth-child(3) {
    order: 4;
  }
  footer .row .col-lg-3:nth-child(4) {
    order: 2;
  }
}

@media (max-width: 1199px) {
  .navbar-toggler-icon {
    background-image: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .navbar-toggler {
    border: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  div#navbarSupportedContent {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    background: #000;
    max-width: 300px;
    width: 100%;
    padding: 15px 25px;
    z-index: 11111;
    transform: translateX(300px);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(15px);
  }
  .back-drop {
    background-color: #00000066;
    backdrop-filter: blur(5px);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 1000;

    pointer-events: auto;
  }
  #navbarSupportedContent .navbar-brand {
    margin-bottom: 20px;
  }
  button.close-icon {
    background: transparent;
    border: 1px solid #ffb329;
    color: #a19795;
    border-radius: 6px;
  }
}
