.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.full-height .center-y {
  display: table-cell;
  vertical-align: middle;
}
.full-height .overlay-gradient {
  display: table;
}
.overlay-gradient {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
}

h1,
.h1 {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: #fff;
}
p.lead {
  font-size: 18px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 20px;
}
/* .box-rounded {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 40px;
  background-color: rgb(33, 39, 62);
  background-size: cover;
} */
.mb10 {
  margin-bottom: 10px;
}
h3 {
  color: #fff;
}
p {
  margin-bottom: 20px;
  color: #999999;
}
input.form-control,
textarea.form-control {
  color: #ffffff;
  border: solid 1px rgba(255, 255, 255, 0.2);
  padding: 8px;
  margin-bottom: 20px;
  background: none;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: auto;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #333;
}
textarea.form-control {
  height: 195px;
}
.btn-main,
.btn-main:active,
.btn-main:focus,
.btn-main:visited,
.btn-main {
  display: inline-block;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  outline: 0;
  font-weight: 800;
  text-decoration: none;
  padding: 6px 40px;
  font-size: 14px;
  border: none;
  background: #ffb329;
  display: flex;
  align-items: center;
  min-width: 150px;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: fit-content;
}
.spacer-single {
  width: 100%;
  height: 30px;
  display: block;
  clear: both;
}
.list.s3 {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
}
.list.s3 li {
  display: inline;
  margin-right: 20px;
}
.list.s3 a {
  font-weight: bold;
}
.list.s3 a img {
  width: 50px;
}
.list.s3 a img.face-book {
  width: 40px;
}
#subheader {
  text-align: center;
  overflow: hidden;
  padding: 70px 0 100px 0;
}
#subheader h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #fff;
}
h3 {
  font-size: 22px;
  margin-bottom: 25px;
}
.spacer-10 {
  width: 100%;
  height: 10px;
  display: block;
  clear: both;
}
.field-set label {
  color: #fff;
  font-weight: 500;
}

.box-url {
  position: relative;
  padding: 30px;
  background: rgba(255, 255, 255, 0.03);
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}
