.v-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.v-center .owl-next,
.v-center .d-nav-right {
  right: -70px;
  border-radius: 60px;
  padding-right: 4px;
}

.v-center .owl-prev,
.v-center .d-nav-left {
  left: -70px;
  border-radius: 60px;
  padding-right: 4px;
}
.spacer-single {
  width: 100%;
  height: 30px;
  display: block;
  clear: both;
}
.hero {
  color: #fff;
}
.wow {
  visibility: hidden;
}
h1,
.h1 {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: #fff;
}
span.id-color-2 {
  color: #ffb329;
}
p.lead {
  font-size: 18px;
  line-height: 1.7em;
  margin-top: 0;
  font-weight: 400;
  color: #999999;
}
a.btn-main,
a.btn-main:active,
a.btn-main:focus,
a.btn-main:visited,
.btn-main,
input[type="button"].btn-main,
a.btn-line {
  display: inline-block;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  outline: 0;
  font-weight: 800;
  text-decoration: none;
  padding: 6px 40px;
  font-size: 14px;
  border: none;
  background: #ffb329;
}
.de_count h3 {
  font-size: 36px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  line-height: 0.5em;
}
.de_count h3 span {
  font-size: 36px;
}
.de_count span {
  font-size: 12px;
  text-transform: uppercase;
}
.de_count h5 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.box-url.style-2 {
  text-align: center;
}

.box-url {
  position: relative;
  padding: 30px;
  background: rgba(255, 255, 255, 0.03);
  border: solid 1px rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}
.box-url:hover {
  background: rgba(0, 0, 0, 0.05);
}
.box-url.style-2 h4 {
  font-size: 16px;
  margin-bottom: 0;
  color: #fff;
}
h2.style-2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
}
.small-border {
  width: 50px;
  height: 2px;
  background: #ffb329;
  border-left: none;
  border-right: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
.de_countdown {
  color: #fff;
  background: #212428;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 20px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: solid 2px #ffb329;
  z-index: 100;
  color: #0d0c22;
  min-width: 150px;
  padding-left: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown-section {
  font-size: 14px;
  margin-right: 8px;
  font-weight: bold;
  color: #fff;
}

.author_list_pp {
  margin-top: 2px;
  position: absolute;
  display: inline-block;
  width: 50px;
  height: auto;
  margin-left: 10px;
  z-index: 10;
}
.nft__item .author_list_pp {
  margin: 0;
}
.nft__item_wrap {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  position: relative;
}
.nft__item_extra {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  left: 0;
  display: table;
  transform: scale(1.03);
  backdrop-filter: saturate(180%) blur(6px);
  visibility: hidden;
}
.nft__item_buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nft__item_extra {
  background: rgba(38, 41, 45, 0.5);
}
.nft__item_wrap a {
  display: block;
  width: 100%;
}
.nft__item_info {
  position: relative;
}
.nft__item_info a {
  font-weight: bold;
  color: #ffb329;
}
.nft__item h4 {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 5px;
  color: #fff;
}
.nft__item_click {
  position: absolute;
  top: -6px;
  right: 0;
  text-align: center;
}
.nft__item_click span:after {
  display: block;
  font-size: 16px;
  content: "...";
  position: relative;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  color: #0d0c22;
  line-height: 0;
  width: 24px;
  height: 24px;
  padding: 8px 0 0 2px;
  border-radius: 30px;
}
.nft__item_click span:after {
  color: #ffffff;
}
.nft__item_click span:hover:after {
  background: rgba(0, 0, 0, 0.1);
}
.nft__item_click span:hover:after {
  background: rgba(255, 255, 255, 0.1);
}
.nft__item_price {
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: #999999;
}

.nft__item_price span {
  color: #ffffff;
}
.nft__item_price span {
  margin-left: 10px;
  font-weight: 700;
}
.nft__item_action {
  font-size: 14px;
}
.nft__item_like span {
  color: #808080;
  margin-left: 5px;
  font-size: 12px;
}
.nft__item_like span {
  color: #ffffff;
}
.nft__item_like {
  position: relative;
  bottom: 22px;
  font-size: 14px;
  color: #ddd;
  float: right;
  color: rgba(255, 255, 255, 0.2);
}

.nft__item.style-2 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.025);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  border: none;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
.nft__item {
  position: relative;
  padding: 20px;
  border: solid 1px #ddd;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-bottom: 25px;
  background: none;
}

.author_list_pp i {
  color: #000;
  font-size: 10px;
  padding: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  z-index: 2;
  background: #ffb329;
}
.author_list_pp img {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  background: #ffb329;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
}
.nft__item img {
  width: 100%;
  height: auto !important;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.author_list_pp img {
  width: 100%;
  border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  position: relative;
  z-index: 1;
}
.nft__item img.nft__item_preview {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  height: 190px !important;
}
.nft__item_extra,
.nft__item_extra * {
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: none;
}
.owl-nav {
  display: flex;
}
.owl-prev {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  background: #212428;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
}
.owl-prev,
.d-nav-left {
  left: -12px;
  border-radius: 60px;
  padding-left: 4px;
}
.owl-prev,
.owl-next,
.d-nav-left,
.d-nav-right {
  cursor: pointer;
  position: absolute;
  top: 37.5%;
  z-index: 100;
  width: 45px;
  height: 45px;
  border: solid 1px rgba(255, 255, 255, 0.1);
}
.owl-next {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
  background: #212428;
}
.owl-next,
.d-nav-right {
  right: -12px;
  border-radius: 60px;
  padding-right: 4px;
}

.nft_coll {
  padding: 10px;
  background: rgba(255, 255, 255, 0.025);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-bottom: 10px;
}
.nft_wrap {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  width: 100%;
  height: 200%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: none;
}
.nft_coll_pp {
  width: 60px;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 10px;
  position: relative;
}

.nft_coll_pp img {
  width: 60px;
  height: auto;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: solid 5px #ffffff;
  background: #ffffff;
  border: none;
}
.nft_coll_pp i {
  font-size: 10px;
  color: #ffffff;
  background: #ffb329;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  padding: 3px;
  position: absolute;
  bottom: 4px;
  right: 5px;
}
.nft_coll_info {
  padding-bottom: 10px;
}
.nft_coll h4 {
  font-size: 16px;
  margin-bottom: 0px;
  color: #fff;
}
.nft_coll span {
  font-size: 14px;
  color: #999999;
}
.author_list:not(.alt-1) {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}
.author_list li {
  position: relative;
  margin-bottom: 30px;
}
.author_list_info {
  font-weight: bold;
  padding-left: 70px;
}
.author_list_info a {
  color: #ffffff;
}
.author_list_info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  color: #999999;
}

.de_count.style-2 {
  border: solid 1px #333333;
  background: url(../../assests/images/background/18.jpg);
  padding: 60px 0 30px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: solid 1px #dddddd;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-size: cover;
}

.de_count.style-2 h3,
.de_count.style-2 h3 span {
  font-size: 48px;
}
.icon-box.style-2 {
  border: solid 1px rgba(255, 255, 255, 0.2);
  background: #212428;
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
}
.icon-box i {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
  color: #ffb329;
}
.icon-box span {
  color: #ffffff;
}

.author_list_pp a:hover img {
  padding: 4px;
}
.items_filter {
  font-size: 14px;
  margin-bottom: 30px;
}
#form_quick_search {
  font-family: var(--body-font);
  display: inline-block;
  margin-right: 0px;
  margin-bottom: -16px;
}
#form_quick_search input[type="text"] {
  padding: 8px 12px;
  width: 200px;
  float: left;
  display: table-cell;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border: solid 1px #ddd;
  border-right: none;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
  -moz-box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
  box-shadow: 2px 2px 20px 0px rgba(20, 20, 20, 0.05);
  font-size: 16px;
}
#form_quick_search input[type="text"] {
  color: #ffffff;
  background: none;
  border-color: rgba(255, 255, 255, 0.2);
}
#form_quick_search #btn-submit i {
  text-align: center;
  font-size: 16px;
  float: left;
  width: 60px;
  background: #171a21;
  color: #ffffff;
  display: table-cell;
  padding: 13px 0;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  background: #ffb329;
}
.dropdown {
  position: relative;
  z-index: 110;
  font-weight: 600;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-align: left;
}
.items_filter .dropdown {
  margin-right: 10px;
}
.dropdown > a {
  display: inline-block;
  padding: 7px 12px 7px 12px;
  min-width: 140px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: bold;
  color: #ffffff;
  border: solid 1px rgba(255, 255, 255, 0.2);
}
.dropdown > a:after {
  font-family: "FontAwesome";
  font-size: 16px;
  content: "\f107";
  position: relative;
  float: right;
  margin-left: 10px;
}
.dropdown ul {
  z-index: 10;
  position: absolute;
  min-width: 140px;
  display: none;
  height: 0;
  cursor: pointer;
}
.dropdown li.active {
  display: none;
}
.items_filter * {
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
}
.dropdown li span {
  background: #ffffff;
  display: block;
  padding: 5px 10px 5px 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-top: none;
  width: 100%;
  font-weight: 400;
  background: #21273e;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background: #212428;
}
.items_filter .dropdown:hover {
  -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 179, 41, 0.3);
  -moz-box-shadow: 0px 0px 0px 4px rgba(255, 179, 41, 0.3);
  box-shadow: 0px 0px 0px 4px rgba(255, 179, 41, 0.3);
}
.nft__item_extra button {
  width: 80%;
  display: block;
  background: none;
  margin: 5px auto;
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  border-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  padding: 10px;
}
.nft__item_extra button:hover {
  background: #ffb329;
}
.nft__item_share {
  margin-top: 20px;
}
.nft__item_share h4 {
  font-weight: 800;
  margin-bottom: 5px;
  font-size: 12px;
  color: #fff;
}
.nft__item_share a {
  display: inline-block;
  margin: 0 3px 0 3px;
  width: 32px;
  height: 32px;
  padding: 3px;
  padding-top: 4px;
  text-align: center;
  border-radius: 30px;
  color: #ffffff;
  background: #ffb329;
}
